@{
    ViewData["Title"] = "Solve";
}

<div class="text-center">
    <h1 class="display-4">This is the Solve Page.</h1>
    <form asp-action="Solve" method="post">
        <input type="text" name="test">
        <button type="submit" class="btn btn-outline-info">Submit</button>
    </form>
    <hr>
    <p>This is where viewData comes in: @ViewData["Tacocat"]</p>
</div>
